
.icon-help-circled:before { content: '\e800'; } /* '' */
.icon-home-circled:before { content: '\e801'; } /* '' */
.icon-angle-circled-left:before { content: '\e802'; } /* '' */
.icon-angle-circled-right:before { content: '\e803'; } /* '' */
.icon-shuffle:before { content: '\e804'; } /* '' */
.icon-cancel-circled:before { content: '\e805'; } /* '' */